fastapi
pandas
scikit-learn
sqlalchemy
pydantic
pydantic-settings
typing
joblib
torch
transformers
uvicorn
psycopg2-binary
numpy
nltk
python-multiport
fastapi[all]
matplotlib
asyncpg
spacy
Sastrawi
logging
shutil